{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "main" }}
<div id="main">
  <div id="content" class="container">
    <h1 class="text-center my-5">{{ .Title }}</h1>

    <div class="text">
    {{ .Content }}
    </div>

    <div class="addendum">
      <a href="../{{ .Params.other }}">{{ i18n (print "title-" .Params.other) }}</a>
      <br/>
      <a href="../index.html">{{ i18n "back-manifesto" }}</a>
    </div>
  </div>

  {{ partial "tree.html" }}
</div>
{{ end }}
