{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<div id="tree">
  <img src="/images/tree.png" alt="" />
</div>
<div id="root" class="d-flex align-items-center justify-content-center">
  <span class="text-center">{{ i18n "inspiration" | markdownify }}</span>
</div>
